
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*NAVBAR*/

i {
  padding-top: 10px;
  color: lightgrey;
}

.banner {
  padding-left: 60px;
  padding-right: 60px;
}

/*1ST SECTION*/

.faqs-box {
  position: relative;
}

.faqs-wrapper {
  position: relative;
  margin-left: 1.5rem;
  height: 200px;
  background: #f4f3f3;
}

.faqs {
  position: absolute;
  top: 38%;
  left: 7%;
}

.orange-box {
  position: relative;
  width: 12rem;
  background: #fa9b03;
  height: 12rem;
  bottom: 11rem;
  left: 0.5rem;
  z-index: -10;
}

/*2ND SECTION*/
.col-sm-6 .left-content .left-box,
.col-sm-6 .right-content .right-box {
  background: #f4f3f3;
}

.left-card-name,
.right-card-name,
.fa-chevron-right,
.fa-arrow-right {
  color: #fa9b03;
}

.foot-box {
  background-color: #fa9b03;
}

.logo-text {
  text-align: center;
}

.innerfooter-two {
  display: flex;

  align-items: center;
  justify-content: center;
}

.logo-text {
  font-family: "Cookie", cursive;
  color: white;
}
.innerfooter-box1 {
  border-bottom: 2px white solid;
}

@media (max-width: 500px) {
  .left-card-name,
  .right-card-name {
    text-align: center;
  }

  .logo-text {
    padding-top: 20px;
  }
  .innerfooter-two {
    flex-direction: column;
  }

  .innerfooter-box2,
  .innerfooter-box3 {
    padding: 10px;
  }
}
